doctype html
html(lang="en")
    body
        div Summary: <a href=#{message.trigger_details_html_url}>#{message.trigger_summary_data.subject}</a>
        div The incident has been assigned to <a href=#{message.assigned_to_user.html_url}>#{message.assigned_to_user.name}</a>
        hr